[user]
	name = ndingdw
	email = ndingdw@outlook.com
[core]
	editor = vim
	excludesfile = /Users/nding/.gitignore_global
[pull]
	rebase = true
[alias]
	graph = log --all --graph --decorate --oneline
[init]
	defaultBranch = main
